<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/editdelete.css">
</head>

<body>
    <div class="container">
        <div class="ui middle aligned center aligned grid">
            <div class="ui eight wide column">

                <form class="ui large form">

                    <div class="ui icon negative message">
                        <i class="warning icon"></i>
                        <div class="content">
                            <div class="header">
                                Oops! Your time has expired.
                            </div>
                            {{#if edit}}
                            <p>Sorry your order cannot be edited</p>
                            {{/if}}
                            {{#if delete}}
                            <p>Sorry your order cannot be deleted</p>
                            {{/if}}

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/editdeletorder.js"></script>
</body>

</html>